

:root{
  --cl--light: #f9f9f9;
  --cl--primary: #80AD01;
  --bg--primary-cl: #ACC294;
  --bg--primary: #ffff;
  --bg--secondary: #F5F5F5;
  --text--primary-cl: #6B6B6B;
  --text--secondary-cl:#878787;
  --text--light-cl: #C4C6C2;
  --text--name-cl: #383838;
}